body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5E9BF;
}

code {
  font-family: cursive; 
}
